<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- New test results search configuration -->
    <!-- Files extension for search -->
    <add key="FilesExtension" value="trx" />
    <!-- Path to test results folders (comma sepatated, without spaces). Example: "C:\\test,C:\\test1,C:\\test2" -->
    <add key="TestResultsDir" value="C:\\test,C:\\test1,C:\\test2" />
    <!-- DateTime format for notifications -->
    <add key="DateTimeFormat" value="MM-dd-yyyy HH-mm-ss" />
    <!-- Timeout for the search in seconds -->
    <add key="NewFilesSearchTimeout" value="600" />
    <!-- Telegram configuration -->
    <!-- Telegram ApiId and ApiHash you can find here: https://my.telegram.org/apps -->
    <add key="ApiId" value="******" />
    <add key="ApiHash" value="**************test******************" />
    <!-- Phone number for user (notifications sender) -->
    <add key="UserPhoneNumber" value="********" />
    <!-- Code, which was received via SMS -->
    <add key="CodeFromTelegram" value="12345" />
    <!-- Telegram recipient type: choose 'user' or 'channel'-->
    <add key="RecipientType" value="channel" />
    <!-- Recipient channel name for notifications  -->
    <add key="RecipientName" value="TestTestTestChannel" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>