<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!-- New test results search configuration -->
      <!-- Files extension for search -->
      <add key="FilesExtension" value="trx" />
      <!-- Path to test results folders (comma sepatated, without spaces). Example: "C:\\test,C:\\test1,C:\\test2" -->
      <add key="TestResultsDir" value="C:\\test,C:\\test1,C:\\test2" />
      <!-- DateTime format for notifications -->
      <add key="DateTimeFormat" value="MM-dd-yyyy HH-mm-ss" />
      <!-- Timeout for the search in seconds -->
      <add key="NewFilesSearchTimeout" value="3" />
      <!-- Telegram configuration -->
      <!-- Telegram ApiId and ApiHash you can find here: https://my.telegram.org/apps -->
      <add key="ApiId" value="*******" />
      <add key="ApiHash" value="******************************" />
      <!-- Phone number for user (notifications sender) -->
      <add key="UserPhoneNumber" value="375***********" />
      <!-- Code, which was received via SMS -->
      <add key="CodeFromTelegram" value="12345" />
      <!-- Telegram recipient type: choose 'user' or 'channel'-->
      <add key="RecipientType" value="channel" />
      <!-- Recipient channel name for notifications  -->
      <add key="RecipientName" value="TestResultsChannel" />
    </appSettings>
</configuration>
